<h1><%=@product.name%></h1>

<h2>Sell Price: $<%=@product.price%></h2>

<%=render partial: 'listings/listings', locals: {listings: @product.listings, index: false}%><br>

<%=link_to "Add New Listing", new_product_listing_path(@product) %><br><br>